# Title of the video
Title = "Test Video"
# Description of the video.
# To create a multiline description use the following format:
# Description = |
#   This is the first line of the description.
#   This is the second.
#
#   Blank lines are possible.
# The indentation is necessary for the formatting of yaml and is removed in the output.
Description = "This is a test video."
# Path to the video file on the system running the dapper daemon.
VideoFile = "/home/nesbitt/Videos/Raccoon.mp4"
# Path to the thumbnail file on the system running the dapper daemon.
ThumbnailFile = "/home/nesbitt/Pictures/test.jpg"
# ID of the channel for the video to be uploaded to.
Channel = "neboman11"
